/* You can add global styles to this file, and also import other style files */
@import "ngx-toastr/toastr";

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
html,
body {
  height: 100%;
}
body {
  margin: 0;
  /* font-family: Roboto, "Helvetica Neue", sans-serif;
   */
   /* font-family: "Inter", sans-serif; */
   font-family: "Lora", serif;
  background-color: #222831;
}
.p-button{
  background-color: #222831;
  border-color: #222831;
}
/* .p-dropdown{
  font-size: 12px;
  width: 100px;
  height: 50px;
} */

.w-4rem {
  width: 4rem;
}

.h-4rem {
  height: 4rem;
}

@media (min-width: 601px) and (max-width: 1024px) {
  .p-dropdown{
      display: flex;
      width: 16vw !important;
      height: 6.3vh !important;
      justify-content: center;
      align-items: center;
  }
}
@media (max-width: 700px) {
  .p-button{
    font-size: 0.8rem;
  }
  .p-dropdown{
    width: 26vw !important;
  }
}