.task-container{
    width: 95% !important;
}

.task-title{
    font-size: 1.1rem;
    border-radius: 10px;
    background-color: #EEEEEE;
    DISPLAY: flex;
    width: 90%;
    height: 70px;
    padding: 0px 10px;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
}
.icons-task{
    display: flex;
}
.icons{
    padding: 10px 10px;
    border-radius: 50%;
    cursor: pointer;
}
.icons:hover{
    background-color: #31363F !important;
    color: white;
}
.task-icon{
    display: flex;
    justify-content: flex-end;
    /* gap: 20px; */
    align-items: center;
    gap: 10px;
}
.p-button{
    background-color: #31363F !important;
    color: #31363F !important;
}