<!-- src/app/tasks/tasks.component.html -->
<h3></h3>
<p-accordion [activeIndex]="0" *ngIf="data.length > 0" class="task-container">
    <p-accordionTab header={{task.title}} *ngFor="let task of data">
        <div class="task-icon">
            <p-dropdown 
            [options]="status" 
            [(ngModel)]="selectedStatus" 
            optionLabel="name"
            placeholder="Change Status" />
            <p-button label="Change" (click)="handleStatus(task._id)" />
            <i class="pi pi-pencil icons" style="font-size: 1.2rem" (click)="openDialog(task._id)" ></i>
            <i class="pi pi-trash icons" style="font-size: 1.2rem" (click)="handleDelete(task._id)" ></i>
        </div>
        <p>
            Description : {{task.description}}
        </p>
        <p>priority: {{task.priority}}</p>
        <p>DueDate: {{task.dueDate}}</p>
        <p>Status: {{task.status}}</p>
    </p-accordionTab>
</p-accordion>