<form class="auth-login-box">
  <div class="auth-login">
    <div class="card flex justify-content-center spinner" *ngIf="isLoading">
      <p-progressSpinner ariaLabel="loading" />
    </div>
    <h1 class="text-login" *ngIf="!isLoading">Login</h1>
    <div class="input-main-cont" *ngIf="!isLoading">
      <input
        type="text"
        placeholder="Enter your Name"
        class="input-field"
        [(ngModel)]="loginObj.username"
        name="username"
      />
      <input
        type="password"
        placeholder="Enter your Password"
        class="input-field"
        [(ngModel)]="loginObj.password"
        name="password"
      />
      <button class="login-button" (click)="onLogin()">Log in</button>
    </div>
    <div class="login-para" *ngIf="!isLoading">
      <p>
        don't have an account with us?
        <a (click)="navigateToSignup()" class="login-anchor">Sign up</a>
      </p>
    </div>
  </div>
</form>
