.input-field{
    margin: 10px 0px;
    font-size: 19px;
    border: none;
    padding: 16px 14px;
    width: 95%;
    border-radius: 10px;
    cursor: pointer;
}

.auth-login{
    gap: 20px;
    justify-content: center;
    display: flex;
    height: 480px;
    width: 450px;
    flex-direction: column;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 20px;
    padding: 20px 20px;
}
.auth-login-box{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90vh;
    align-items: center;
}
.text-login{
    text-align: center;
}
.login-button{
    font-size: 18px;
    padding: 10px 10px;
}
.login-para{
    display: flex;
    justify-content: center;
}
.login-anchor{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.dialog-container{
    display: flex;
    flex-direction: column;
    width: 28vw;
    height: 58vh;
    background-color: #EEEEEE !important;
}
.dialog-input{
    width: 100%;
}
.dialog-para{
    font-size: 21px;
    text-align: center;
}
.dialog-action{
    background-color: #EEEEEE;
}

@media (min-width: 601px) and (max-width: 1024px) {
    .dialog-container{
        width: 50vw;
    }
}

@media (max-width: 700px) {
    .dialog-container{
        width: 60vw;
        height: 46vh;
    }
    .input-field{
        margin: 10px 0px;
        font-size: 14px;
        border: none;
        padding: 10px 10px;
        width: 95%;
        border-radius: 10px;
    }
    .dialog-para{
        font-size: 17px;
        text-align: center;
    }
}


@media (min-width: 200px) and (max-width: 480px) {
    .dialog-container{
        width: 90vw;
        height: 46vh;
    }
}